/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* CSS variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "DM Sans", sans-serif;
    --primary-background: #F8FAFC;
    --secondary-background: #FFFFFF;
    --accent-color: #2563EB;
    --secondary-accent: #0F766E;
    --primary-text-color: #0F172A;
    --secondary-text-color: #475569;
    --primary-hover: #1555E0;
    --secondary-hover: #0E6C64;
}


body {
    background-color: var(--primary-background);
    font-family: var(--primary-font);
    color: var(--primary-text-color);
   
}

.section{
    margin: 75px 0px
}

.index-p{
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: larger;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--primary-text-color);
  --bs-tooltip-color: var(--secondary-background);
}


.card{
    border-radius: 20px;
}

.checkout-card{
    background-color: var(--primary-background);
    border-radius: 20px;
}

/* Navbar */
.navbar{
    background-color: var(--secondary-background);
}

.navbar-brand{
    margin: 0px;
}

#brand-name{
    margin-top: 10px;
}

.nav-link{
    color: var(--secondary-text-color) 
}

.nav-link:hover{
    color: var(--primary-text-color);
    font-weight: bolder;
}

.btn-outline-dark {
    --bs-btn-hover-bg: var(--primary-hover);
    --bs-btn-hover-border-color: var(--primary-hover);
}

.icon{
    font-size: large;
}

#bag-icon{
    padding-top: 20px;
}

.discount-banner{
    background-color: var(--primary-text-color);
    color: var(--secondary-background);
    position: relative;
    z-index: 1010;
    height: 22px;
}

/* Sidebar */
.sidebar {
    color: var(--secondary-text-color);
    background-color: var(--secondary-background);
    min-height: 100vh;
    padding-left: 10px;
    border-right: 1px solid var(--secondary-text-color);
}

aside {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100vh;
    width: 250px; 
    font-weight: lighter;
}

#aside-list{
    padding-top: 50px;
}

aside .nav-link{
    color: var(--secondary-text-color);
}

/* Hero */

.index-p{
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: larger;
}

.btn-outline-primary{
    --bs-btn-color: var(--secondary-accent);
    --bs-btn-border-color: var(--secondary-accent);
    --bs-btn-hover-color:  var(--secondary-background);
    --bs-btn-hover-bg: var(--secondary-hover);
    --bs-btn-hover-border-color: var(--secondary-hover);
}

/* Benefits */

.benefit-card{
    width: 183px;
    height: 120px; 
    border-radius: 20px;
} 

.benefit p{
    color: var(--secondary-text-color);
}

/* Footer */
#footer{
    background-color: var(--secondary-background);
    color: var(--primary-text-color);
    font-weight: lighter;
    position: relative;
    z-index: 100;
    margin-top: 100px;
}
/* Media queries */
@media screen and (max-width: 576px) {
 #magni-glass{
   position: relative;
   right: 70px;
 }
}

@media screen and (min-width: 992px) {
 #benefits{
      margin-left: 200px;
}

#hero{
    margin-left: 200px
}
}

@media screen and (min-width: 1210px) {
 #benefits{
      margin-left: 250px;
}

#hero{
    margin-left: 250px
}
}

@media screen and (max-width: 576px) {
 body{
   padding: 30px;
 }
}

@media screen and (min-width: 827px) {
 #brand-name{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
}
}
@media screen and (min-width: 740px) and (max-width: 826px) {
 #brand-name{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
}
@media screen and (min-width: 701px) and (max-width: 739px) {
 #brand-name{
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
    font-style: italic;
}
}
@media screen and (max-width: 700px) {
 #brand-name{
    display: none;
}
}