.product-card{
    height: 500px;
    padding: 20px;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 20px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.20);

}

.images{
    height: 150px;
}
img{
    max-width: 400px;
    height: 150px;
}
.product-card img{
    width: 100%;
    max-height: 150px;
    height: auto;
    object-fit: contain;
}

.excerpt{
    height: 80px;
    overflow-y: scroll;
    
}

.see-details{
    width: 100px;
}

.browse-cards{
    height: 200px;
}

#sort-selector{
    border-radius: 5px;
    box-shadow:
    0 4px 12px rgba(0,0,0,0.20);
}

/* Media Queries */

@media screen and (max-width: 425px) {
    #images{
       height: 110px;
    }
    .product-card img{
        max-height: 110px;
    }
}
