img{
    width: 500px;
    height: 300px;
}
.img-fluid{
    max-width: 100%;
    max-height: 250px;
    height: auto;
    object-fit: contain;
}

/* Option section */
.card{
    height: 250px;
    overflow-y: scroll;
}
#option{
    color: var(--primary-text-color);
    background-color: var(--secondary-background);
    border-radius: 20px;
    padding: 20px 20px;
    margin-top: 50px;
    
}

.form-check-input{
    border: 1.5px solid var(--primary-text-color);
}

.form-check-input:focus{
    color: var(--secondary_accent);
}

.form-check{
    margin-top: 20px;
}

#description{
    height: 350px;
    overflow-y: scroll;
}

#choose-option{
     scroll-margin-top: 150px;
}

#option-div{
    height: 200px;
    overflow-y: scroll;
}

/* Modal */

.modal{
    z-index: 3000 !important;
}