img{
    width: 100%;
    max-height: 250px;
    height: auto;
    object-fit: contain;

}

.index-p{
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: larger;
}