 <div class="container-fluid">
     <div class="row">
         <aside class="col-lg-2 d-none d-lg-block sidebar">
             <nav>
                 <ul class="nav d-flex flex-column" id="aside-list">
                     <li class="nav-item my-4">
                         <a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house"></i>  Home</a>
                     </li>
                     <li class="nav-item my-4">

                         <a class="nav-link" href="{% url 'products' %}"><i class="fa-solid fa-chart-diagram"></i>  Workflows</a>
                     </li>
                     <li class="nav-item my-4">
                         <a class="nav-link" href="{% url 'products' %}?category=lead_generation"><i class="fa-solid fa-people-group"></i>  Lead Generation</a>
                     </li>
                     <li class="nav-item my-4">
                         <a class="nav-link" href="{% url 'products' %}"><i class="fa-regular fa-envelope"></i>  Email Automation</a>
                     </li>
                     <li class="nav-item my-4">
                         <a class="nav-link" href="{% url 'products' %}"><i class="fa-solid fa-sack-dollar"></i>  Billing systems</a>
                     </li>
                     <li class="nav-item my-4">
                         <a class="nav-link" href="#"><i class="fa-solid fa-sliders"></i>  Custom Workflows</a>
                     </li>
                     <li class="nav-item my-4">
                         <a class="nav-link" href="#"><i class="fa-regular fa-handshake"></i>  Contact</a>
                     </li>
                 </ul>
             </nav>
         </aside>
     </div>
 </div>