{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6 offset-lg-2 text-center">
      <h1>{% trans "Sign Out" %}</h1>
      <hr>

      <p class="text-muted">{% trans 'Are you sure you want to sign out?' %}</p>
    </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-10 offset-lg-2 text-center">
      <form method="post" action="{% url 'account_logout' %}" class="d-inline">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-outline-dark">{% trans 'Sign Out' %}</button>
      </form>
       <a type="button" href="{% url 'home' %}" class="btn btn-outline-dark d-inline">{% trans 'Stay' %}</a>
       </div>
    </div>
  </div>
</div>
{% endblock %}