{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center justify-content-lg-end">
        <div class="col-10 offset-lg-2 mt-5 text-center">
            {% if current_categories %}
            {% for category in current_categories %}
            <h2 class="display-5 mb-5">{{ category.friendly_name }}</h2>
            {% if category.friendly_name == "Email Automation" %}
            <p class="index-p">Capture and organise interest in your business automatically.
                <br>
                These workflows are designed to turn
                inbound activity — from forms, comments, or interactions — into structured data and immediate follow-up
                actions. Instead of manually tracking enquiries, you’ll have a system that ensures every opportunity is
                captured, processed, and moved forward consistently.
            </p>
            {% elif category.friendly_name == "Lead Generation" %}
            <p class="index-p">Streamline your communication with automated email workflows that respond instantly and
                consistently.
                <br>
                Whether it’s confirmations, follow-ups, onboarding messages, or re-engagement sequences, these systems
                ensure the right message is sent at the right time — without manual effort. This helps you stay
                responsive, professional, and scalable as your business grows.
            </p>
            {% elif category.friendly_name == "Billing Systems" %}
            <p class="index-p">Simplify your payment processes and ensure nothing gets missed.
                <br>
                These workflows automate invoicing, payment tracking, follow-ups, and access management — creating a
                structured flow from request to payment completion. Instead of chasing payments or managing billing
                manually, you’ll have a reliable system that keeps your cash flow organised and predictable.</p>
            {% elif category.friendly_name == "Custom Workflows" %}
            <p class="index-p">Get a fully tailored automation system built around your business.
                <br>
                Instead of adapting your process to fit a template, we design and implement a workflow that matches your
                exact needs — connecting your tools, removing manual tasks, and creating a system that runs reliably in
                the background. Ideal for businesses ready to move beyond basic automation and build something scalable.
            </p>
            {% endif %}
            {% endfor %}
            {% else %}
            <h2 class="display-5">Browse All Workflows</h2>
            <p class="index-p">Simplify your business processes and ensure nothing gets missed.
                <br>
                These workflows automate invoicing, payment tracking, follow-ups and access management — creating a
                structured flow from request to payment completion. Instead of chasing payments or managing billing
                manually, you’ll have a reliable system that keeps your cash flow organised and predictable.</p>
            {% endif %}
        </div>
        <div class="row justify-content-center">
            <div class="my-4 text-center offset-lg-2">
                   <label for="sort-selector" class="visually-hidden">Sort products</label>
                <select id="sort-selector" class="text-center">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...
                    </option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price
                        (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price
                        (high to low)</option>
                    <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name
                        (A-Z)</option>
                    <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name
                        (Z-A)</option>
                    <option value="complexity_asc" {% if current_sorting == 'complexity_asc' %}selected{% endif %}>
                        Complexity (low to high)</option>
                    <option value="complexity_desc" {% if current_sorting == 'complexity_desc' %}selected{% endif %}>
                        Complexity (high to low)</option>
                </select>        
            </div>
        </div>
        {% for product in products %}
        <div class="col-8 col-md-6 col-lg-4 product-card mx-5 d-flex flex-column justify-content-center">
            <div id="images" class="text-center">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img src="{% static 'images/placeholder-image.jpg' %}" alt="Placeholder image">
                {% endif %}
            </div>
            <div id="browse-cards" class="card-body text-center mt-auto">
                <p class="text-muted"><i class="fa-solid fa-tag"></i><small>{{ product.category.friendly_name }}</small></p>
                <p><small>{{ product.name }}</small></p>
                <p id="excerpt" class="index-p">{{ product.excerpt }}</p>
                <p class="index-p"><small><em>Set up within {{ product.min_delivery }} {% if product.min_delivery == 1 %} day {% else %} days {% endif %}</em></small></p>
                <p class="index-p"><small><em>from ${{ product.min_price }}</em></small></p>
                <div class="text-center">
                <a id="see-details" href="{% url 'product_detail' product.pk %}" type="button" class="btn btn-outline-primary btn-sm text-center">see details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
{% block postloadjs %}

<script>
    const sortSelector = document.getElementById('sort-selector');
    sortSelector.addEventListener('change', function (e) {
    // this is the dropdown that changed
    const selector = e.target;
    // turn current url into url object
    const currentUrl = new URL(window.location);
    // gets selected dropdown value (string)      
    const selectedVal = selector.value;

    if (selectedVal !== "reset") {
        const sort = selectedVal.split("_")[0];
        const direction = selectedVal.split("_")[1];

        // modifies url
        currentUrl.searchParams.set("sort", sort);
        currentUrl.searchParams.set("direction", direction);

        window.location.replace(currentUrl);

    } else {
        currentUrl.searchParams.delete("sort");
        currentUrl.searchParams.delete("direction");

        window.location.replace(currentUrl);
    }
});
</script>

{% endblock %}