{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_detail.css' %}">
{% endblock %}


{% block content %}

<div class="container mt-3">
  <div class="row justify-content-center">
    <!-- Top row -->
    <div class="col-12 col-lg-8 offset-lg-2 text-center">
      <h2 class="display-7 my-5">{{ product.name }}
      </h2>
      <p class="text-muted"><i class="fa-solid fa-tag"></i><small> {{ product.category.friendly_name }}</small>
      {% if product.image %}
      <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid mt-3">
      {% else %}
      <img src="{% static 'images/placeholder-image.jpg' %}" alt="Placeholder image" class="img-fluid">
      {% endif %}
    </div>
  </div>
  <!--Lower row -->
  <div class="container">
    <div class="row justify-content-center">
      <!-- left coloumn -->
      <div class="col-12 col-lg-4 offset-lg-2 text-center">
        <p>Product description:</p>
        <p id="description" class="index-p">{{ product.description }}</p>
      </div>
      <!-- Middle column -->
      <div class="col-2"></div>
      <!-- Right column -->
      <div class="col-12 col-lg-4 text-center">
        <!-- Product option -->
        <p id="option-name">Your Choice:</p>
        <div id="option-div">
        <p id="option-description" class="index-p">Please choose your prefered option below </p>
        <p id="delivery-days" class="index-p d-none"></p>
        </div>
        {% for option in product_option %}
        <div class="form-check">
          <input class="form-check-input option" type="radio" name="radioDefault" data-name="{{option.name}}"
            data-description="{{option.description}}" data-price="{{option.unit_price}}"
            data-delivery="{{option.delivery_days}}" data-pk="{{option.pk}}" id="option{{option.pk}}">
          <label class="form-check-label" for="option{{option.pk}}">
            {{ option.name }}
          </label>
        </div>
        {% endfor %}
        <p class="index-p mt-5" id="option-price">Price: $0.00</p>
        <!-- add-to-basket form/button -->
        {% if user.is_authenticated %}
        <form action="{% url 'add_to_bag' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="selected_option_pk" id="selected-option-pk" value="{{ selected_option.pk }}">
          <input type="hidden" name="redirect_url" value="{{ request.path }}">
         <a class="btn btn-primary btn-sm my-3 me-2" role="button" href="{% url 'products' %}">Keep Browsing</a>
          <button id="add-to-basket" class="btn btn-primary my-3 btn-sm " type="submit">
            Add To Basket
          </button>
        </form>
        {% else %}
         <a class="btn btn-primary my-3" role="button" href="{% url 'products' %}">Keep Browsing</a>
        <button id="add-basket" class="btn btn-primary my-3" role="button">Add To Basket</button>
        {% endif %}

      </div>
    </div>
  </div>


    <!-- log in prompt modal -->
    <div class="modal" tabindex="-1" id="login-prompt">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Not authenticated</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Please log in or sign up to purchase<p>
          </div>
          <div class="modal-footer">
            <a href="{% url 'account_login' %}?next={{ request.path }}" type="button" class="btn btn-primary">Log In</a>
            <a href="{% url 'account_signup' %}?next={{ request.path }}" type="button" class="btn btn-primary">Sign
              up</a>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}
    {% block postloadjs %}
    {{ block.super}}
    <script type="text/javascript" src="{% static 'products/js/product_details.js' %}"></script>
    {% endblock %}