{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center justify-content-lg-end">
        <div class="col-10 offset-2 my-5 text-center">
            {% if current_categories %}
            {% for category in current_categories %}
            <h2 display="5">{{ category.friendly_name }}</h2>
            {% endfor %}
            {% else %}
            <h2 display="5">Browse All Workflows</h2>
            {% endif %}
        </div>
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 product-card mx-5 d-flex flex-column">
            <div class="text-center">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            {% endif %}
            <div class="card-body text-center">
               <p> {{ product.name }}</p>
               <hr>
                <p>{{ product.excerpt }}</p>
                <a href="{% url 'product_detail' product.pk %}" type="button">see details</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}