{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/product_detail.css' %}">
{% endblock %}


{% block content %}

<section id="detail" class="mt-2">
    <div class="container">
        <div class="row align-items-center justify-content-center">
             <div class="col-8 offset-lg-2 pt-5 my-2">
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid">
            </div>
            <div class="col-8 offset-lg-2 pt-2 text-center">
                <h2 class="mb-3 display-7">{{ product.name }}
                </h2>
                <p class="index-p">{{ product.description }}</p>
                <!-- Product option -->
                 <div class="col-6 offset-lg-3" >
                    <p id="option-name" class="display-7"></p>
                    <p id="option-description" class="index-p"></p>
                    <p id="delivery-days" class="index-p d-none"></p>
                </div>
            </div>  
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-2 offset-lg-3">
                 <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Options
                </button>
                <ul class="dropdown-menu">
                    {% for option in product_option %}
                   <li><a class="dropdown-item option" href="#" data-name="{{option.name}}" 
                    data-description="{{option.description}}" data-price="{{option.unit_price}}" 
                    data-delivery="{{option.delivery_days}}" data-pk="{{option.pk}}">{{ option.name }}</a></li>
                    {% endfor %}
                </ul>
                 </div>
            </div>
        </div>
        <div class="row justify-content-center justify-content-lg-end mt-5">
            <div class="col-3 offset-lg-3 text-center">
                <p class="index-p" id="option-price">Price: $</p>
                <a class="btn btn-primary my-3" href="{% url 'products' %}" role="button">Back</a>
                {% if user.is_authenticated %}
                 <form action="{% url 'add_to_bag' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="selected_option_pk" id="selected-option-pk" value="{{ selected_option.pk }}">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    <button id="add-to-basket" class="btn btn-primary my-3" type="submit">
                    Add To Basket
                    </button>
                </form>
                {% else %}
                <button id="add-basket" class="btn btn-primary my-3" role="button">Add To Basket</button>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- log in prompt modal -->
<div class="modal" tabindex="-1" id="login-prompt">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Not authenticated</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Please log in or sign up to purchase<p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'account_login' %}?next={{ request.path }}" type="button" class="btn btn-primary">Log In</a>
        <a href="{% url 'account_signup' %}?next={{ request.path }}" type="button" class="btn btn-primary">Sign up</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block postloadjs %}
{{ block.super}}
     <script type="text/javascript" src="{% static 'products/js/product_details.js' %}"></script>
{% endblock %}